# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# Data & models
*.csv
*.parquet
*.xlsx
model.bin

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
